<table class="table table-striped table-bordered">
    <thead>
      <tr>
      	<!-- FUTURE: determine column headers on a project by project basis using Forms -->
        <th>View/Update</th>
        <th>Flex positive</th>
        <th>Flex negative</th>
        <th>Work from home</th>
        <th>Benefits</th>
        <th>Flagged?</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% Datum.all.where(project_id: @project.id).each do |data| %>
        <tr>
          <td><%= link_to data.id, "/projects/#{this_id}/data/#{data.id}/edit" %></td>
  

          <td><%=  data.field_1  %></td>
          <td><%=  data.field_2  %></td>
          <td><%=  data.field_3  %></td>
          <td><%=  data.field_4  %></td>
          <td> <% if data.field_5 %> 
            <%= image_tag('graphics/3d_glasses.png', :size => "40x40", :class => "img-fluid") %>
            <% end %>
          </td>
          <td>
          <%= link_to "[Delete]", "/projects/#{this_id}/data/#{data.id}", method: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

